language: scala
scala:
- 2.11.2
jdk:
- oraclejdk8
env:
# Add LD_LIBRARY_PATH=$LD_LIBRARY_PATH:${project_loc}/lib to the exec environment in eclipse
- LD_LIBRARY_PATH=$LD_LIBRARY_PATH:lib/
script: travis_wait sbt ++$TRAVIS_SCALA_VERSION test
